@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#hero {
  border-width: 1px 0px;
  border-image-source: linear-gradient(90.05deg, rgba(255, 255, 255, 0.12) 24.52%, #9C9C9C 50.66%, rgba(255, 255, 255, 0.12) 79.97%);
  border-image-slice: 1;
  
  position: relative;
}
#hero::before,
#hero::after {
  content: '';
  position: absolute;
  width: 31%;
  aspect-ratio: 2/1;
  border-radius: 50%;
  background: #747474;
  filter: blur(200px);
}
#hero::before {
  top: -150px;
}
#hero::after {
  bottom: -200px;
}

#heading {
  background:radial-gradient(#FFFFFF,#535353);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
  color: transparent;

  font-size: clamp(3rem, 5  .1vw - 1px, 6.5rem); 
}

#search {
  background: #191919;
  box-shadow: 0 18px 35px rgba(0,0,0,0.6), 0 10px 30px rgba(0,0,0,0.28) inset;
  position: relative;
}
#search::-webkit-search-cancel-button {
  display: none;
}

#search::placeholder {
  color: #F3FF74;
}
#searchIcon {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
}

